<div class="blog">
  <h2><%= link_to (post.title + "<strong> >></strong>").html_safe, blog_path(post) %></h2>
  <div class="content wikistyle"><%= post.content_html.html_safe %></div>
  <div class="cc">
    <%= t(:announce_at) %>
    <%= format_time(post.created_at) %> | 
    <%= "浏览数 " + post.visited.to_s %> |
    <%= link_to t('comment'), blog_path(post) + "#disqus_thread" %> |
    <div class="bsync-custom icon-long-blue"><a title="一键分享到各大微博和社交网络" class="bshare-bsync" onclick="javascript:bSync.share(event,'', {title:'<%= post.title %>', summary: '<%= Nokogiri(HTML_Truncator.truncate(post.content_html, 100)).text.gsub("\n","") %>'})"></a></div>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bsync.js#uuid=df284dbb-7e09-4cac-9e90-5a186ac58e48"></script>
  </div>
</div>
<div class="bottom"></div>
