<%= simple_form_for(@post, :url=> admin_posts_path(@post)) do |f| %>
  <%= f.input :title %>
  <ul class="tab">
  	<li class="active" id="content">content</li>
  	<li id="preview" url='<%= preview_admin_posts_path %>'>preview</li>
  </ul>
  <%= link_to t(:upload_photo), "#", :id=>'upload_photo' %>
  <input type="file" style="display: none;" />
  <%= f.input :content, :as=> :text, :label=>false %>
  <div class="preview wikistyle"></div>
  <%= f.input :type, :as=>:select, :collection=> [ Post::TECH, Post::LIFE, Post::CREATOR ], :include_blank=>false %>
  <div class="submit">
    <%= f.submit %>
  </div>
<% end %>
